<div class="card-footer text-muted bg-dark">
    <div>
        ver mas informacion 
    </div>
    <br>
    
    <div>
        encuentranos en :
        <img src="assets/img/facebook.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        <img src="assets/img/instagram.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        <img src="assets/img/twitter.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    </div>
    
  </div>